{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container mt-6">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Create cook</h1>
        <form action="" method="post" novalidate>
          {% csrf_token %}
          {{ form|crispy }}
          <div class="d-flex justify-content-center">
            <input  type="submit" value="Submit" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}